<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menu</title>
</head>
<body>
    <h1>Restaurant Menu</h1>
    {% for meal_type in meal_types %}
        <h2>{{ meal_type.1 }}</h2>
        {% for row in item_list %}
            {% if meal_type.0 == row.category %}
                {% if row.status == 0 %}
                    <h3><del>{{ row.meal }}</del></h3>
                    <p>{{ row.description }}</p>
                {% else %}
                    <h3>{{ row.meal }}</h3>
                    <p>{{ row.description }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
</html>